
.html{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    background: red;
    color: white;

}
.parent{
    display: flex;
    padding: 10px;

}
.brand {
    font-weight: 600;
    font-size: 30px;
}
.brand a{
    text-decoration: none;
    color: white;
}
.parent .box{
    padding: 1rem;
}




